* {
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-sizing: border-box;
}

.AddDelete {
  width: 433px;
  height: 44px;
  display: flex;
  flex-direction: row;
  float: right;
  gap: 24px;
  margin-right: 23px;
  margin-top: 0px;
}

.AddDelete button {
  width: 200px;
  border-radius: 10px;
  border: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.add {
  background-color: #00ba88;
}

.delete {
  background-color: #ff3d1f;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.selecionar {
  height: 45px;
  width: 100%;
  margin-top: 35px;
}

select {
  border: 1px solid #fece00;
  border-radius: 10px;
  color: #000000b2;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-top: 2px;
  padding-left: 8px;
  height: 45px;
}

.dias {
  margin-left: 418px;
  width: 240px;
}

.horario {
  width: 120px;
  margin-left: -677px;
}

.textarea {
  position: absolute;
  width: 391px;
  height: 45px;
  left: 24px;
  top: 165px;
  border: 1px solid #fece00;
  border-radius: 10px;
  color: #000000b2;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  resize: none;
  padding-top: 12px;
  padding-left: 14.28px;
}

.semana {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1698px;
  height: 33px;
  margin-left: 125px;
  margin-top: 22px;
}

.semana button {
  width: 240px;
  height: 33px;
  box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
  border-radius: 9px 9px 0px 0px;
  border: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 7px;
  color: rgba(0, 0, 0, 0.9);
}

.monday {
  background-color: #ff0024;
}

.tuesday {
  background-color: #ff8000;
}

.wednesday {
  background-color: #ffce00;
}

.thursday {
  background-color: rgba(255, 0, 36, 0.7);
}

.friday {
  background-color: rgba(255, 128, 0, 0.7);
}

.saturday {
  background-color: rgba(255, 206, 0, 0.7);
}

.sunday {
  background-color: rgba(255, 0, 36, 0.5);
}

.timeBox {
  width: 85px;
  height: 75px;
  background: #fff;
  box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
  border-radius: 10px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  color: #000;
  padding: 25px 0 0 20px;
  float: left;
  margin-left: 24px;
}

.containerTarefa {
  width: 1850px;
  height: 730px;
  overflow: auto;
  margin-left: 24px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.caixinha {
  width: 614px;
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 14px;
}

.tarefaTime {
  width: 85px;
  height: 85px;
  background: #ff0024;
  border-bottom: 1px solid #dcdfe3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
}

.tarefaContent {
  width: 512px;
  height: 85px;
  background: linear-gradient(
    112.83deg,
    rgba(228, 240, 248, 0.42) 0%,
    rgba(255, 255, 255, 0.336) 110.84%
  );
  border: 1px solid #ffffff;
  box-shadow: 8px 8px 5.5px rgba(0, 0, 0, 0.03);
  display: flex;
  align-items: center;
  padding-left: 28px;
  z-index: 500;
  position: relative;
}

.borda {
  width: 14px;
  height: 85px;
  background: #ff0024;
  border-radius: 15px 0px 0px 15px;
  position: absolute;
  left: 0;
}

.deleteTarefa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  gap: 4px;
  position: absolute;
  width: 57px;
  height: 25px;
  right: 7px;
  top: 6px;
  background: #ff3d1f;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
}

.imgUol {
  position: absolute;
  right: 0;
  bottom: 0;
}
