.dialog {
  width: 600px;
  height: 300px;
  background-color: #ffffff5c;
  position: absolute;
  left: 650px;
  top: 350px;
  z-index: 1000;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modalP {
  margin-top: 15px;
  margin-bottom: 8px;
  width: 400px;
  text-align: center;
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.linkModal {
  background-color: rgba(249, 230, 221, 0.818);
  border-radius: 10px;
  text-decoration: none;
  margin-left: 15px;
  padding: 8px;
  color: #000;
}
